.space
{
	margin-right : 0.5%;
}
/*------------- 1 column-----------*/
.bit1
{
	width : 100%;
	height:auto;
}
/*------------- 2 columns -----------*/
.bit2
{
	width: 100%;
}

.bit1_2 
{
	width: 49.2%;
}

/*------------- 4 Columns ----------*/
.bit4 {
	width: 100%; 
	height :auto;
	margin : 2% auto;
	clear : both;
}

.bit1_4 {
	width: 24.4%; 
	float: left;
	height : auto;
}
